<article class="flex items-center gap-x-96 mt-5 w-full">
  <div>
    <p>© 2023 Streetreats</p>
  </div>
  <div class="flex gap-1 items-center">
    <img
      class="h-12"
      src="https://www.svgrepo.com/show/328144/visa.svg"
      alt="Visa"
    />
    <img
      class="h-12"
      src="https://www.svgrepo.com/show/355117/mastercard.svg"
      alt="Master Card"
    />
    <img
      class="h-12"
      src="https://www.svgrepo.com/show/303275/apple-pay-payment-mark-logo.svg"
      alt="Visa"
    />
    <img
      class="h-12"
      src="https://www.svgrepo.com/show/266068/american-express.svg"
      alt="Master Card"
    />
  </div>
</article>
