<article class="flex flex-col gap-2">
  <h3 class="font-medium">Customer Service</h3>
  <ul class="flex flex-col gap-1">
    <li class="text-xs text-grey"><a href="">Customer Service</a></li>
    <li class="text-xs text-grey"><a href="">Contact us</a></li>
    <li class="text-xs text-grey"><a href="">Terms & Conditions</a></li>
    <li class="text-xs text-grey"><a href="">Privacy Policy</a></li>
    <li class="text-xs text-grey"><a href="">About us</a></li>
  </ul>
</article>
