<form class="flex flex-col gap-4" action="">
  <h3 class="font-medium">Subscribe to get 10% off your first order</h3>
  <p class="text-xs text-grey">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
     Saepe eos inventore, veniam esse harum eaque natus
  </p>
  <div class="flex items-center">
    <input class="text-xs py-2.5 pl-2 w-48 outline-0 bg-eerie_black text-white" type="email" placeholder="Enter your email" /><button class="text-xs bg-persian_red py-2.5 px-2" type="submit"
      >Subscribe</button
    >
  </div>
</form>