---
import { InfoFoot } from "../components/InfoFoot";
import CustomerService from "../components/CustomerService.astro";
import SocialMedia from "../components/SocialMedia.astro";
import FormSubscribe from "../components/FormSubscribe.astro";
import CopyButtons from "../components/CopyButtons.astro";
---

<footer class="bg-black h-full w-full text-white p-16 flex flex-col items-center">
  <section class="flex justify-center gap-28 mb-14">
    <InfoFoot />
    <CustomerService />
    <SocialMedia />
    <FormSubscribe />
  </section>
  <hr class="border-solid bg-gavy_gray w-11/12" />
  <section>
    <CopyButtons />
  </section>
</footer>
