---
import InfoMedium from "../components/InfoMedium.astro";
---

<section class="flex flex-col items-center text-center gap-6">
  <p class="uppercase text-persian_red font-semibold">What we serve</p>
  <h3 class="text-5xl font-semibold">
    Your Favorite Snacks <br /> Delivery Partner
  </h3>
  <article class="flex justify-center items-center gap-14 mx-32">
    <InfoMedium
      urlImage="https://www.svgrepo.com/show/322029/chips-bag.svg"
      name="Unique product range"
      paragraph="We are always adding the most exciting products to our unique range in to your asks"
    />
    <InfoMedium
      urlImage="https://www.svgrepo.com/show/490161/motorcycle-delivery-multiple-boxes.svg"
      name="Delivered to your door"
      paragraph="Choose whatever you want and we'll deliver it to your front door across all US postcodes"
    />
    <InfoMedium
      urlImage="https://www.svgrepo.com/show/494018/quality-supervision.svg"
      name="Better with every purchase"
      paragraph="We champion products that are better for you, better for the world and, above all else, delicious"
    />
  </article>
</section>
