---
import { Navbar } from "../components/Navbar";
import { Description } from "./Description";
import PictureDescription from "../components/PictureDescription.astro";
---

<Navbar />
<section class="m-10 flex items-center justify-center">
  <Description />
  <PictureDescription
    url="https://www.odtap.com/wp-content/uploads/2019/03/delivery.png"
  />
</section>
