---
import { Description } from "../components/Description";
import { Navbar } from "../components/Navbar";
---

<header>
    <Navbar />
</header>
<div class="m-10 flex items-center justify-center">
    <Description />
</div>
